:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  padding: 10px;
  text-align: center;
}

main {
  flex-grow: 1;
  padding: 10px;

}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body {
  margin: 0;
  background-color: #ffffff;

  font-family: Saira, sans-serif;
  font-size: 14px;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  font-family: inherit;
}

input {
  /* -webkit-box-shadow: inset 0 0 0 50px #e8e8e800; */
  -webkit-text-fill-color: #000;
}

input,
select {
  font-family: inherit;
  font-size: inherit;
}

input,
textarea {
  border: 0;
  outline: 0;
}

textarea {
  padding: 0;
  resize: none;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper {
  flex-grow: 1;
  display: flex;
}

.main {
  width: 60%;
  max-height: calc(100vh - 84px);
  overflow-x: auto;
  padding: 9px 9px 9px 12px;
  border-right: 1px solid #c4c4c4;
}

.sidebar {
  width: 40%;
  padding-left: 10px;
}

.container {
  flex-shrink: 0;
  height: 42px;
  padding: 5.5px 10px;
  background-color: #696969;

  font-size: 20px;
  line-height: 31.48px;
  text-align: right;
  color: #FFFFFF;
}

.container span {
  color: #CBCACA;
}

@media screen and (max-width: 767px) {
  .container {
    font-size: 16px;
  }
}

.container {
  height: 42px;
  padding: 4px 16px;
  background-color: #696969;

  font-family: Saira Stencil One;
  font-size: 24px;
  line-height: 37.78px;
  text-transform: uppercase;
  color: #FFFFFF;
}


@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }

  .wrapper {
    flex-direction: column;
  }
  .container {
    font-size: 18px;
  }

  .main {
    order: 2;
    width: 100%;
    padding: 9px;
    border: 0;
  }

  .sidebar {
    width: 100%;
    border-bottom: 1px solid #c4c4c4;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  flex-shrink: 0;
  height: 42px;
  padding: 5.5px 10px;
  background-color: #696969;

  font-size: 20px;
  line-height: 31.48px;
  text-align: right;
  color: #FFFFFF;
}

.container span {
  color: #CBCACA;
}



.container {
  height: 42px;
  padding: 4px 16px;
  background-color: #696969;

  font-family: Saira Stencil One;
  font-size: 24px;
  line-height: 37.78px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .container {
    font-size: 18px;
  }
}